# Plaza
# Pinning a commit is only temporary, and won't be allowed on master
git+https://gitlab.com/plaza-project/bridges/python-plaza-lib@259a3f5edb662f1d7ff5f29dcc628abe76f8038f

# Telegram
# python-telegram-bot
# Fixes a timeout bug on telegram/utils/request.py#L327
#  on the pip version `**urlopen_args` is not set
git+https://github.com/python-telegram-bot/python-telegram-bot

# XDG
xdg
