# Plaza
# Pinning a commit is only temporary, and won't be allowed on master
git+https://gitlab.com/plaza-project/bridges/python-plaza-lib@0188d655ba2828d417a29b0b74e5de74f9a0a59d

# Telegram
# python-telegram-bot
# Fixes a timeout bug on telegram/utils/request.py#L327
#  on the pip version `**urlopen_args` is not set
git+https://github.com/python-telegram-bot/python-telegram-bot

# XDG
xdg
